/** ==[marginBottom]========================================================================== */

.mb8 {
  margin-bottom: 8px;
}
.mb16 {
  margin-bottom: 16px;
}
.mb24 {
  margin-bottom: 24px;
}
.mb32 {
  margin-bottom: 32px;
}
.mb36 {
  margin-bottom: 36px;
}
.mb40 {
  margin-bottom: 40px;
}
/** ==[paddingBottom]========================================================================== */

.pb8 {
  padding-bottom: 8px;
}
.pb16 {
  padding-bottom: 16px;
}
.pb24 {
  padding-bottom: 24px;
}
.pb32 {
  padding-bottom: 32px;
}
.pb36 {
  padding-bottom: 36px;
}
.pb40 {
  padding-bottom: 40px;
}

/** ==[fontSize]=========================================================================== */
.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.fs22 {
  font-size: 22px;
}
.fs24 {
  font-size: 24px;
}
.fs28 {
  font-size: 28px;
}
.fs32 {
  font-size: 32px;
}
.fs36 {
  font-size: 36px;
}
.fs40 {
  font-size: 40px;
}

/** ==[cursor]=========================================================================== */

.pointer {
  cursor: pointer;
}

/** ==[font]=========================================================================== */
.gbold {
  font-family: "GBold";
}
.gmedium {
  font-family: "GMedium";
}
.glight {
  font-family: "GLight";
}
