@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* @font-face {
  font-family: "Futura";
  font-weight: normal;
  src: url("../fonts/Futura.ttf") format("truetype");
}
@font-face {
  font-family: "Futura";
  font-weight: normal;
  src: url("../fonts/Futura_Bold_Italic_font.ttf") format("truetype");
}
@font-face {
  font-family: "Futura";
  font-weight: normal;
  src: url("../fonts/Futura_Book_font.ttf") format("truetype");
} */
@font-face {
  font-family: "Futura";
  font-weight: normal;
  src: url("../fonts/Futura_Book_Italic_font.ttf") format("truetype");
}

@font-face {
  font-family: "GBold";
  src: url("../fonts/GmarketSansTTFBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GLight";
  src: url("../fonts/GmarketSansTTFLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GMedium";
  src: url("../fonts/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%; /* html과 body 모두 100% 높이 설정 */
}

html {
  font-size: 100%; /* 1rem = 16px */
}

body {
  font-family: "Futura";
  /* font-family: "Noto Sans KR", sans-serif; */
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  display: flex;
  /* flex-direction: column; 세로 방향 정렬 */
  justify-content: center; /* 세로 중앙 정렬 */
  align-items: center; /* 가로 중앙 정렬 */
  height: 100%; /* html과 body 모두 100% 높이 설정 */
}

.animation-container {
  width: 100%;
  max-width: 100vw;
  height: auto;
  position: relative;
  margin-bottom: 20px;
  overflow-x: hidden;
}

.moving-icons {
  font-size: 5rem;
  white-space: nowrap;
  letter-spacing: 1.2rem;
}
